.video {
  background-color: white;
  position: relative;
  scroll-snap-align: start;
  height: 100%;
  width: 100%;

  /* border: 5px solid red; */
}
.video__player {
  object-fit: fill;
  width: 100%;
  height: 100%;
}
